@font-face {
    font-family: Lato-Thin;
    src: url(../fonts/Lato-300.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-400.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato-700.ttf);
}

@font-face {
    font-family: Lato-Black;
    src: url(../fonts/Lato-900.ttf);
}

@font-face {
    font-family: Merriweather-Bold;
    src: url(../fonts/Merriweather-700.ttf);
}

@font-face {
    font-family: Merriweather-Black;
    src: url(../fonts/Merriweather-900.ttf);
}

body {
    color: #000000;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    line-height: 25px;
}

.container {
    width: 1115px;
    margin: 0 auto;
}

.display-none {
    display: none;
}

.header {
    padding: 23px 0 31px;
}

.header-title {
    color: #005FA3;
    font-family: 'Merriweather-Black';
    font-size: 36px;
    line-height: 50px;
}

.header-contact-text {
    color: #000000;
    font-size: 13px;
    line-height: 17px;
}

.header-contact-link {
    text-decoration: none;
}

.header-nav-link {
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato-Bold';
    font-size: 14px;
    line-height: 17px;
}

.desc {
    padding: 170px 0 168px;
    background-color: #2f2f2f;
    background-image:url(../img/header-background.png);
    background-size: cover;
}

.desc-title {
    color: #FFFFFF;
    font-family: 'Merriweather-Bold';
    font-size: 48px;
    line-height: 66px;
    width: 589px;
    min-height: 117px;
}

.desc-link {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 35px;
    background: #005FA3;
    min-height: 84px;
    width: 333px;
    margin: 131px 0 0;
}

.service {
    background: #EBEBEB;
    padding: 140px 0;
}

.section-title {
    color: #BDBDBD;
    font-family: 'Lato-Black';
    font-size: 24px;
    line-height: 33px;
    margin: 0 0 40px;
}

.section-subtitle {
    color: #333333;
    font-family: 'Merriweather-Black';
    font-size: 48px;
    line-height: 69px;
}

.service-subtitle {
    margin: 0 0 102px;
}

.service-item-title {
    color: #FFFFFF;
    font-family: 'Lato-Black';
    font-size: 24px;
    line-height: 30px;
}

.service-item-link {
    display: block;
    text-decoration: none;
    background-image: url(../img/building.png);
    width: 350px;
    min-height: 360px;
    padding: 45px 45px;
    background-size: cover;
}

.company-name {
    color: #005FA3;
}

.about {
    background: #FFFFFF;
    padding: 140px 0;
}

.about-desc {
    color: #000000;
    font-family: 'Lato-Thin';
}

.about-subtitle {
    margin: 0 0 60px;
}


.about-item {
    background: #EBEBEB;
    width: 255px;
    min-height: 255px;
    padding: 30px 40px 40px;
    box-sizing: border-box;
}

.about-item-title {
    color: #000000;
    font-family: 'Lato-Bold';
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 47px;
}

.about-item-subtitle {
    color: #000000;
    font-family: 'Lato-Black';
    font-size: 55px;
    line-height: 66px;
    margin: 0 0 30px;
}

.about-item-link {
    color: #005FA3;
    font-family: 'Lato-Bold';
    font-size: 14px;
    line-height: 17px;
}

.clients {
    background: #EBEBEB;
    padding: 85px 0 92px;
}

.clients-subtitle {
    margin: 0 0 43px;
}

.clients-item-link {
    display: block;
    margin: 0 0 34px;
}

.reviews {
    background: #FFFFFF;
    padding: 174px 0 120px;
}

.reviews-subtitle {
    margin: 0 0 80px;
}

.reviews-button {
    color: #FFFFFF;
    width: 270px;
    min-height: 60px;
    background-color: #005FA3;
    border: 0;
}

.review-slider-button {
    width: 10px;
    height: 10px;
    background: #005FA3;
    padding: 0;
    border: 0;
    border-radius: 50%;
    opacity: 0.4;
}

.review-slider-button-active {
    opacity: 1;
}

.review-slider-arrow {
    width: 60px;
    height: 60px;
    border: 0;
    padding: 0;
    background-color: #005FA3;
    opacity: 0.2;
}

.review-slider-arrow-active {
    opacity: 1;
}
.review-item {
    background-color: #EBEBEB;
    padding: 45px 95px;
}

.reviews-item-text {
    color: #000000;
    font-family: 'Lato-Thin';
    margin: 0 0 58px;
}

.reviews-item-author {
    color: #000000;
    font-family: 'Lato-Black';
}

.reviews-item-position {
    color: #4F4F4F;
    font-size: 14px;
    line-height: 19px;
}

.advantages {
    background: #EBEBEB;
    padding: 102px 0 116px;
}

.advantages-subtitle {
    margin: 0 0 103px;
}

.advantages-item-text {
    color: #000000;
    font-family: 'Lato-Bold';
    font-size: 36px;
    line-height: 48px;
    margin: 20px 0 0;
}

.footer {
    background-color: #2f2f2f;
    background-image: url(../img/header-background.png);
}

.footer-wrp {
    padding: 122px 0 140px;
}

.footer-title {
    color: #FFFFFF;
    font-family: 'Merriweather-Bold';
    font-size: 48px;
    line-height: 69px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0 0 60px;
}

.footer-subtitle {
    color: #FFFFFF;
    font-family: 'Lato-Thin';
    margin: 0 0 80px;
}

.footer-item-link {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Lato-Thin';
    font-size: 21px;
    line-height: 29px;
}

.rights {
    background: #FFFFFF;
    padding: 50px 0;
}

.rights-text {
    color: #000000;
    font-family: 'Lato-Thin';
    font-size: 14px;
    line-height: 19px;
}