@font-face {
    font-family: Lato-Thin;
    src: url(../fonts/Lato-300.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-400.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato-700.ttf);
}

@font-face {
    font-family: Lato-Black;
    src: url(../fonts/Lato-900.ttf);
}

@font-face {
    font-family: Merriweather-Bold;
    src: url(../fonts/Merriweather-700.ttf);
}

@font-face {
    font-family: Merriweather-Black;
    src: url(../fonts/Merriweather-900.ttf);
}

body {
    color: #000000;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    line-height: 25px;
}

.container {
    width: 1115px;
    margin: 0 auto;
}

.display-none {
    display: none;
}

.flex {
    display: flex;
}

.half-width {
    width: 50%;
}

.wrp-padding {
    padding: 0 0 0 15px;
}

.header {
    padding: 23px 0 31px;
}

.header-title {
    color: #005FA3;
    font-family: 'Merriweather-Black';
    font-size: 36px;
    line-height: 50px;
    margin: 0 0 0 30px;
}

.header-contact-text {
    color: #000000;
    font-size: 13px;
    line-height: 17px;
}

.header-contact-link {
    text-decoration: none;
}

.header-nav-link {
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato-Bold';
    font-size: 14px;
    line-height: 17px;
}

.desc {
    padding: 170px 0 168px;
    background-color: #2f2f2f;
    background-image:url(../img/header-background.png);
    background-size: cover;
}

.desc-title {
    color: #FFFFFF;
    font-family: 'Merriweather-Bold';
    font-size: 48px;
    line-height: 66px;
    width: 589px;
    min-height: 117px;
    margin: 0 0 131px;
}

.desc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 35px;
    background: #005FA3;
    min-height: 84px;
    width: 333px;
}

.service {
    background: #EBEBEB;
    padding: 140px 0;
}

.section-title {
    color: #BDBDBD;
    font-family: 'Lato-Black';
    font-size: 24px;
    line-height: 33px;
    margin: 0 0 40px;
}

.section-subtitle {
    color: #333333;
    font-family: 'Merriweather-Black';
    font-size: 48px;
    line-height: 69px;
}

.service-subtitle {
    margin: 0 0 102px;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-item:nth-of-type(n+4) {
    margin: 30px 0 0;
}

.service-item-title {
    color: #FFFFFF;
    font-family: 'Lato-Black';
    font-size: 24px;
    line-height: 30px;
}

.service-item-link {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    background-image: url(../img/building.png);
    width: 350px;
    min-height: 360px;
    padding: 45px 45px;
    background-size: cover;
    box-sizing: border-box;
}

.company-name {
    color: #005FA3;
}

.about {
    background: #FFFFFF;
    padding: 140px 0;
}

.about-desc {
    color: #000000;
    font-family: 'Lato-Thin';
    width: 445px;
}

.about-subtitle {
    margin: 0 0 60px;
}

.about-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-item {
    background: #EBEBEB;
    width: 255px;
    min-height: 255px;
    padding: 30px 40px 40px;
    box-sizing: border-box;
}

.about-item:nth-of-type(n+3) {
    margin: 30px 0 0 0;
}

.about-item-title {
    color: #000000;
    font-family: 'Lato-Bold';
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 47px;
}

.about-item-subtitle {
    color: #000000;
    font-family: 'Lato-Black';
    font-size: 55px;
    line-height: 66px;
    margin: 0 0 30px;
}

.about-item-link {
    color: #005FA3;
    font-family: 'Lato-Bold';
    font-size: 14px;
    line-height: 17px;
}

.clients {
    background: #EBEBEB;
    padding: 85px 0 92px;
}

.clients-subtitle {
    margin: 0 0 43px;
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.clients-item-link {
    display: block;
    margin: 0 0 34px;
}

.reviews {
    background: #FFFFFF;
    padding: 174px 0 120px;
}

.reviews-subtitle {
    margin: 0 0 80px;
}

.reviews-button {
    color: #FFFFFF;
    width: 270px;
    min-height: 60px;
    background-color: #005FA3;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
    font-size: 18px;
    line-height: inherit;
}

.review-slider-button {
    width: 10px;
    height: 10px;
    background: #005FA3;
    padding: 0;
    border: 0;
    border-radius: 50%;
    opacity: 0.4;
}

.review-slider-button-active {
    opacity: 1;
}

.review-slider-arrow {
    width: 60px;
    height: 60px;
    border: 0;
    padding: 0;
    background-color: #005FA3;
    opacity: 0.2;
}

.review-slider-arrow-active {
    opacity: 1;
}
.review-item {
    background-color: #EBEBEB;
    padding: 45px 95px;
}

.reviews-item-text {
    color: #000000;
    font-family: 'Lato-Thin';
    margin: 0 0 58px;
}

.reviews-item-author {
    color: #000000;
    font-family: 'Lato-Black';
}

.reviews-item-position {
    color: #4F4F4F;
    font-size: 14px;
    line-height: 19px;
}

.advantages {
    background: #EBEBEB;
    padding: 102px 0 75px;
}

.advantages-subtitle {
    margin: 0 0 27px;
}

.advantages-list {
    display: flex;
    justify-content: space-around;
}

.advantages-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 348px;
    min-height: 316px;
    padding: 80px 0 37px;
    box-sizing: border-box;
}

.advantages-item-img {
    width: 132px;
    min-height: 126px;
}

.advantages-item-text {
    color: #000000;
    font-family: 'Lato-Bold';
    font-size: 36px;
    line-height: 48px;
    margin: 20px 0 0;
}

.footer {
    background-color: #2f2f2f;
    background-image: url(../img/header-background.png);
    background-size: cover;
}

.footer-wrp {
    padding: 122px 0 140px;
}

.footer-title {
    color: #FFFFFF;
    font-family: 'Merriweather-Bold';
    font-size: 48px;
    line-height: 69px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0 0 60px;
}

.footer-subtitle {
    color: #FFFFFF;
    font-family: 'Lato-Thin';
    margin: 0 0 80px;
}

.footer-list {
    display: flex;
}

.footer-item-link {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Lato-Thin';
    font-size: 21px;
    line-height: 29px;
}


.form-contact-wrp {
    display: flex;
    justify-content: space-between;
    margin: 0 0 35px;
}

.input-label {
    display: block;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 22px;
    margin: 0 0 15px;
}

input {
    width: 255px;
    padding: 4px 0 15px;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    background-color: transparent;
    font-family: 'Lato-Thin';
    font-size: 21px;
    line-height: 29px;
    color: #FFFFFF;
}

input::placeholder {
    font-family: 'Lato-Thin';
    font-size: 21px;
    line-height: 29px;
    color: #BDBDBD;
}

textarea {
    width: 100%;
    min-height: 105px;
    padding: 4px 0 15px;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0 0 50px;
    font-family: 'Lato-Thin';
    font-size: 21px;
    line-height: 29px;
    color: #FFFFFF;
}

textarea::placeholder {
    font-family: 'Lato-Thin';
    font-size: 21px;
    line-height: 29px;
    color: #BDBDBD;
}

.send-question {
    display: block;
    font-family: 'Lato';
    font-size: 18px;
    line-height: inherit;
    color: #FFFFFF;
    width: 270px;
    min-height: 60px;
    background-color: #005FA3;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 0 0 auto;
}

.rights {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    padding: 50px 0;
}

.rights-text {
    color: #000000;
    font-family: 'Lato-Thin';
    font-size: 14px;
    line-height: 19px;
}